*.[oa]
*~
*.CppClean.log
*.exe
*.lastbuildstate
*.obj
*.opensdf
*.idb
*.ilk
*.pdb
*.sdf
*.suo
*.swp
*.tlog
*.vcxproj.user
*.unsuccessfulbuild
timeliner.log
timeliner_run
timeliner_prp
*/*/timeliner_pre.log
*/*/gradientmap-windows.log
example/*/marshal/features*
timeliner/*/freeglut.dll
timeliner/*/libsndfile-1.dll
timeliner/zlib1.dll
timeliner/libpng12.dll
Rules.debug*
